@media(min-width: 768px){
    .container-1, .container-nav, .container-footer{
        display: flex;
        /* Code to align uneven boxes on top, bottom or center */
        align-items:flex-start;
        /*align-items:flex-end;
        align-items:center;
         */
    }
}

body{
    background-color: #252525;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    /*color: ghostwhite;*/
    /*font-family: 'Roboto', sans-serif;*/
}
#main{

}
.container-nav, .container-footer, header{
    background-color: #181818;
}
.container-1{
    flex-direction: row;
    min-height: 0;
}
.box-1, .box-2, .box-3{
    display: flex;
    border: 1px ghostwhite solid;
}

.box-1{
    flex:0.6;
    /* If you need to change the order of the boxes
    order: 1;
    */
    align-content: center;
    justify-content: center;
}
.box-2{
    flex:2.8;
}
.box-3{
    flex:0.6;
}

.nav-box{
    display: flex;
    flex:1;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5;
    justify-content: center;
}

.footer-box{
    flex:1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #181818;
}

/* Navigation bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

li{
    float: left;
}

li a{
    display: block;
    color: #b9b9b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover{
    color: ghostwhite;
}

iframe {
    display:block;
    width:100%;
}

.logo {
    padding-left: 10%;
}